# Default configuration for Lizard Manager
CONFIG_IDF_TARGET="esp32"
CONFIG_ESPTOOLPY_PORT="/dev/ttyUSB0"
CONFIG_ESPTOOLPY_BAUD=460800
CONFIG_ESPTOOLPY_MONITOR_BAUD=115200
CONFIG_UI_DISPLAY_INTERFACE_SPI=y
# CONFIG_UI_DISPLAY_INTERFACE_PARALLEL is not set
CONFIG_UI_DISPLAY_WIDTH=320
CONFIG_UI_DISPLAY_HEIGHT=240
